<div class="">
  <div class="r">
      <form action="/login" method="post">
        <div class="">
          <label for="username">Usuario</label>
          <input type="text" name="username" class="">
        </div>

        <div class="">
          <label for="password">Contraseña</label>
          <input type="password" name="password" class="">
        </div>

        <button type="submit" class="">Login</button>
        <p>No tienes una cuenta todavía?<a href="/signup">Regítrate aquí</a></p>
      </form>
    </div>
</div>
