
<nav>
  <p>Logo + GeekWeek</p>
  <a href="/games">Guía Juegos</a>
  <a href="/logout">Logout</a>
</nav>

<section>
<h1>Bienvenido</h1>
<h3>Info Perfil</h3>
</section>

<section>
<a href="/newMeeting">Crear Partida</a>
<a href="">Buscar Partida</a>
</section>

<section>
<h2>Tus Partidas:</h2>
<p>Imprimir eventos a los que estas subscrito aqui</p>
</section>

<footer>
</footer>
