<div class="">
  <div class="">
      <form action="/newMeeting" method="post">

        <div class="">
          <label for="name">Nombre de la partida:</label>
          <input type="text" name="name" class="">
        </div>

        <div class="">
          <label for="game">Juego:</label>
          <select name="game">
            <% listgames.forEach((e) => { %>
              <option value="<%= e.name %>"><%= e.name %></option>
            <%})%>
          </select>
        </div>

        <div class="">
          <label for="city">Ciudad:</label>
          <input type="text" name="city" class="">
        </div>

        <div class="">
          <label for="adress">Dirección:</label>
          <input  type="text" name="adress" class=""></input>
        </div>

        <div class="">
          <label for="time">Hora:</label>
          <input  type="text" name="time" placeholder="Ejemplo: (13:15 PM)" class=""></input>
        </div>

        <div class="">
          <label for="day">Fecha:</label>
          <input  type="date" name="day" class=""></input>
        </div>

        <div class="">
          <label for="expertiseLevel">Nivel de dificultad:</label>
          <select name="expertiseLevel">
              <option value="Open to anyone">Open to anyone</option>
              <option value="+2 games played">+2 games played</option>
              <option value="+10 games played">+10 games played</option>
              <option value="+50 games">+50 games</option>
          </select>
        </div>

        <div class="">
          <label for="maxPlayers">Máximo número de jugadores:</label>
          <input  type="number" name="maxPlayers" value="6" class="" disabled></input>
        </div>

        <div class="">
          <label for="minPlayers">Mínimo número de jugadores:</label>
          <input  type="number" name="minPlayers" class="" ></input>
        </div>

        <div class="">
          <label for="approxDuration">Duración estimada de la partida:</label>
          <input  type="text" name="approxDuration" class="" placeholder="Ejemplo: 2-4 horas"></input>
        </div>

        <div class="">
          <label for="description">Descripción o comentario (opcional):</label>
          <input  type="textarea" name="description" class=""></input>
        </div>

        <div class="">
          <label for="dressCode">Vestimenta (opcional):</label>
          <input  type="textarea" name="dressCode" class="" placeholder="Ejemplo: Disfraces Medievales"></input>
        </div>

        <button type="submit" class="">Signup</button>
      </form>
  </div>
</div>
